<h1>SQL Veri Tabanı ve Temel Komutlar</h1>

SQL (Structured Query Language), veritabanı yönetiminde kullanılan standart bir dildir. Veri tabanı oluşturma, tablo tanımlama, veri ekleme, güncelleme, silme ve sorgulama işlemleri SQL ile yapılır.

Veritabanı Oluşturma

CREATE DATABASE PERSONEL;   komutu yeni bir veritabanı oluşturmak için kullanılır.

Tablo Oluşturma

CREATE TABLE KULLANICILAR (
  id INT IDENTITY(1,1) PRIMARY KEY,  
  ad NVARCHAR(50),  
  soyad NVARCHAR(50),  
  yas INT
);

CREATE TABLE komutu ile veritabanında yeni bir tablo tanımlanır.
id: INT tipinde, otomatik artan (IDENTITY) ve birincil anahtar (PRIMARY KEY) özelliğine sahip bir sütundur.
ad, soyad: NVARCHAR(50) tipinde, yani en fazla 50 karakter uzunluğunda metin alanıdır.
yas: INT tipinde bir sayı alanıdır.

Veri Listeleme

SELECT * FROM KULLANICILAR;
SELECT * tablodaki tüm sütunları getirir.

SELECT ad FROM KULLANICILAR;
Sadece ad sütunundaki veriler listelenir.

SELECT ad, soyad FROM KULLANICILAR;
Hem ad hem de soyad sütunları listelenir.

Veri Ekleme

INSERT INTO KULLANICILAR (ad, soyad, yas) 
VALUES ('kemal', 'tas', 36);

INSERT INTO komutu tabloya yeni veri ekler.
Burada Kemal Taş isimli, 36 yaşında bir kullanıcı eklenmiştir.

Veri Güncelleme

UPDATE KULLANICILAR
SET yas = 25
WHERE ad = 'ayse';

UPDATE komutu tablo içindeki mevcut veriyi değiştirmek için kullanılır.
Burada adı ayse olan kişinin yaşı 25 olarak güncellenmiştir.

Veri Silme

DELETE FROM KULLANICILAR
WHERE id = 1;

DELETE FROM komutu tablodan veri silmek için kullanılır.
Burada id değeri 1 olan kayıt silinmiştir.

Tekrarlayan Verileri Engelleme

SELECT DISTINCT ad
FROM KULLANICILAR;

DISTINCT ifadesi tekrar eden verileri tekilleştirir.
Örneğin, aynı adı taşıyan birden fazla kullanıcı varsa yalnızca bir kez listelenir.

Belirli Sayıda Veri Getirme

SELECT TOP 2 ad
FROM KULLANICILAR;

TOP ifadesi, belirli sayıda kayıt getirmek için kullanılır.
Burada tablodaki ilk 2 kişinin adı listelenmektedir.